aniso8601==9.0.1
cffi==1.14.5
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
Flask==2.0.1
Flask-JWT-Simple==0.0.3
flask-ldap3-login==0.9.16
Flask-RESTful==0.3.9
Flask-WTF==0.15.1
itsdangerous==2.0.1
Jinja2==3.0.1
jsons==1.4.2
ldap3==2.9
MarkupSafe==2.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.4.2
pyOpenSSL==20.0.1
pytz==2021.1
six==1.16.0
typish==1.9.2
Werkzeug==2.0.1
WTForms==2.3.3
